header{
    .toolbar{
        justify-content: space-between;
        &.red{
            background:#FF5555;
        }
    }
    h6{
        span{
            font-size: 12px;
            margin-left: 25px;
        }
    }
}
.drawer-header{
    text-align: right;
}
.link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}